/* Main section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
}

/* Text section */
main section:nth-child(1) {
    width: 35vw;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 14px;
}

/* Buttons */
main section:nth-child(1) div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7vh;
}

main section:nth-child(1) div a {
    border-radius: 5px;
    padding: 12px 50px 12px 50px;
    font-weight: 900;
    text-decoration: none;
}

#button-green {
    background-color: var(--button-green);
    color: var(--main-text-white);
}

#button-blue {
    background-color: var(--button-blue);
    color: var(--main-text-white);
}

/* Image section */
main section:nth-child(2) {
    width: 35vw;
    display: flex;
}

/* Phones */
img {
    width: 90%;
}

#phone-black {
    position: relative;
    top: 5vh;
    left: 8vw;
    z-index: 1;
}

#phone-white {
    position: relative;
    top: 2vh;
    right: 2vw;
}