@media only screen and (max-width: 600px) {
    body {
        background-size: 250%;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    header nav ul {
        width: 80vw;
    }
    h2 {
        font-size: 90%;
    }
    .left div a {
        height: 40%;
        width: 60%;
        font-size: 60%;
        padding-top: 1vh;
        padding-bottom: 1.5vh;
    }
    .right {
        height: 80%;
        width: 80% ;
    }
}