section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    height: 60vh;
    width: 70vw;
}

section article {
    height: 60vh;
    width: 35vw;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 10px;
    padding-bottom: 5vh ;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
}

.left div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left div a {
    text-decoration: none;
    height: 140%;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    padding-top: 2vh;
}

#green {
    background-color: var(--button-green);
    color: var(--main-text-white);
}

#blue {
    background-color: var(--button-blue);
    color: var(--main-text-white);
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 35vw;
}

.right div img {
    height: 65vh;
    width: 15vw;
}

#black {
    position: relative;
    top: 10px;
    left: 50%;
}
