@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(./var.css);
@import url(./menu.css);
@import url(./main.css);
@import url(./section.css);

* {
    box-sizing: border-box;
}

body {
    /* width: 100vw;
    height: 100vh; */
    background-image: url(../images/bg_001.jpg);
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-text-white);
}
