@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(./var.css);
@import url(./menu.css);
@import url(./main.css);
/* @import url(./section.css); */

/* Page layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-text-white);
    background-image: url(../images/bg_001.jpg);
    background-size: 100%;
}