@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(./var.css);
@import url(./menu.css);


body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg_001.jpg);
    font-family: 'Open Sans', sans-serif;
}
