@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-size: 150%;
    }
    /* Menu bar */
    header {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
    }
    header nav ul {
        width: 80vw;
    }
    /* Text section */
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 15px;
    }
    /* Buttons */
    main section:nth-child(1) div {
        margin-top: 4vh;
    }
    main section:nth-child(1) div a {
        padding: 5px 25px 5px 25px;
    }
    /* Phones */
    img {
        width: 120%;
    }
}